<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Питание кошек!</title>
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/styles/style2.css">
</head>
<body>
    <div class="main_block">
        <h2>Питание кошек!</h2>
        <p>Питание домашних кошек должно быть разнообразным,
            сбалансированным по содержанию белков, углеводов, жиров, питательным.
            В рационе в необходимой концентрации должны присутствовать
            незаменимые кислоты, витамины, макро- и микроэлементы,
            необходимые для нормального роста, развития, физиологического состояния.
            Несбалансированность рациона, кормление домашних
            питомцев низкокачественными готовыми кормами
            и продуктами приводит к нарушению метаболических процессов,
            гормональным изменениям, ожирению, сбоям в работе органов и систем организма.<br>
            Чтобы предотвратить возможные проблемы со здоровьем,
            необходимо использовать качественные, разнообразные корма.<br>
            Питание для домашней кошки подбирается в индивидуальном порядке.
            <a href="https://www.purinaone.ru/cat/catmag/nutrition/feeding-indoor-cat">
            <img id="image_cat" src="https://www.purinaone.ru/cat/sites/default/files/2018-09/food_cat_0.jpg"
                 alt="Картинка кошки"></a>
            <br style="clear:both">
        </p>
        <a href="index.html">Вернуться на главную</a>
    </div>
</body>
</html>