<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Породы кошек!</title>
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/styles/style3.css">
</head>
<body>
    <div class="main_block">
        <h2>Породы кошек!</h2>
        <p>Кошки известны человечеству по меньшей мере 10 000 лет,
            очень ценились людьми во все времена не только за свою способность ловить грызунов
            (в домашних условиях особенно актуальна ловля мышей),
            но и за врожденную способность одаривать людей своей лаской.<br>
            Ученые выяснили, что все современные породы кошек происходят
            от степной кошки, которая была одомашнена человеком. В различных частях мира
            это произошло в разные времена, а потому, данные могут отличаться
            в зависимости от региона. Однако, несмотря на то что одомашнивание
            произошло в среднем 10 000 лет назад, кошки практически полностью сохранили способность к одичанию.
            И это в сочетании с огромной любовью к человеку, которую они способны проявлять.<br>
            Многие породы домашних кошек, особенно на западе, возможно,
            обладают данной способностью в меньшей степени, так как в их родословной
            на протяжении многих поколений не было особей, которые жили бы на улице или в
            близком контакте с дикой природой.</p>
        <table border="1px">
            <caption>Самые популярные породы кошек:</caption>
            <tr>
                <td>
                    <a href="https://www.bosch-club.ru/cats/rocks/britanskaya-korotkosherstnaya/">
                        <img src="https://www.bosch-club.ru/upload/resize_cache/iblock/f36/300_300_1/f36cc496802e10056b9bee7fa6114464.jpg" alt="Британская корткошерстная">
                    </a>
                </td>
                <td><a href="https://www.bosch-club.ru/cats/rocks/russkaya-golubaya-koshka/">
                        <img src="https://www.bosch-club.ru/upload/resize_cache/iblock/69b/300_300_1/69b90870549ed4870652fdb40993a1b6.jpg" alt="Британская корткошерстная">
                    </a>
                </td>
                <td><a href="https://www.bosch-club.ru/cats/rocks/meyn-kun/">
                        <img src="https://www.bosch-club.ru/upload/resize_cache/iblock/7d9/300_300_1/7d9dc6357dbad8799a61a576789ec56a.jpg" alt="Британская корткошерстная">
                    </a>
                </td>
            </tr>
            <tr>
                <td><a href="https://www.bosch-club.ru/cats/rocks/siamskaya-koshka/">
                        <img src="https://www.bosch-club.ru/upload/resize_cache/iblock/3f3/300_300_1/3f346c29ddb990289226a8b419d9a795.jpg" alt="Британская корткошерстная">
                    </a>
                </td>
                <td><a href="https://www.bosch-club.ru/cats/rocks/bengalskaya-koshka/">
                        <img src="https://www.bosch-club.ru/upload/resize_cache/iblock/b61/300_300_1/b61e3b0cacb013c53757b7bc701d3e93.jpg" alt="Британская корткошерстная">
                    </a>
                </td>
                <td><a href="https://www.bosch-club.ru/cats/rocks/skotish-strayt/">
                        <img src="https://www.bosch-club.ru/upload/resize_cache/iblock/243/300_300_1/24386f79562eee259f879f9a5dbe0b4c.png" alt="Британская корткошерстная">
                    </a>
                </td>
            </tr>
            <tr>
                <td><a href="https://www.bosch-club.ru/cats/rocks/amerikanskiy-kerl/">
                        <img src="https://www.bosch-club.ru/upload/resize_cache/iblock/a50/300_300_1/a5040c6d1de3d7c35386c028efdd66e0.jpg" alt="Британская корткошерстная">
                    </a>
                </td>
                <td><a href="https://www.bosch-club.ru/cats/rocks/shokoladnyy-york/">
                        <img src="https://www.bosch-club.ru/upload/resize_cache/iblock/aa0/300_300_1/aa0cdd294e6be35ec08ded76f04a14ca.jpg" alt="Британская корткошерстная">
                    </a>
                </td>
                <td><a href="https://www.bosch-club.ru/cats/rocks/ragamaffin/">
                        <img src="https://www.bosch-club.ru/upload/resize_cache/iblock/76c/300_300_1/76c1be23002a96a6ea30d30d18defbe1.jpg" alt="Британская корткошерстная">
                    </a>
                </td>
            </tr>
        </table>
        <a href="index.html">Вернуться на главную</a>
    </div>
</body>
</html>