<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кошки!</title>
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <div class="main_block">
        <h1>Кошки!</h1>
        <p>С точки зрения научной систематики, домашняя кошка
            — млекопитающее семейства кошачьих отряда хищных.
            Нередко домашнюю кошку рассматривают как подвид лесной кошки
            (Felis silvestris) — Felis s. catus, однако,
            с точки зрения современной биологической систематики (2017 год),
            домашняя кошка является отдельным биологическим видом.<br>
            Являясь одиночным охотником на грызунов и других мелких животных,
            кошка — социальное животное, использующее для общения широкий диапазон звуковых сигналов,
            а также феромоны и движения тела.<br>
            В настоящее время в мире насчитывается около 600 млн домашних кошек,
            выведено около 200 пород, от длинношёрстных (персидская кошка)
            до лишённых шерсти (сфинксы),
            признанных и зарегистрированных различными фелинологическими организациями.</p>
        <ul type="square">
            <li><h2><a href="2.html">Питание кошек</a></h2></li>
            <li><h2><a href="3.html">Породы кошек</a></h2></li>
            <li><h2><a href="4.html">Игры кошек</a></h2></li>
        </ul>
    </div>
</body>
</html>